<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - IntelliHealth</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html>
      <head>
        <script>
          window.onload = function() {
            var dps = []; // dataPoints
            var chart = new CanvasJS.Chart("chartContainer", {
              title: {
                text: "Dynamic Data"
              },
              axisY: {
                includeZero: false
              },
              data: [
                {
                  type: "line",
                  dataPoints: dps
                }
              ]
            });

            var xVal = 0;
            var yVal = 100;
            var updateInterval = 1000;
            var dataLength = 20; // number of dataPoints visible at any point

            var updateChart = async function(count) {
              count = count || 1;

              for (var j = 0; j < count; j++) {
                let url = "http://localhost:6600/datapoint?nodeid=" + document.getElementById('chartContainer').dataset.test;
                let response = await fetch(url);
                let json = await response.json();
                yVal = parseInt(json["value"]);
                dps.push({
                  x: xVal,
                  y: yVal
                });
                xVal++;
              }

              if (dps.length > dataLength) {
                dps.shift();
              }

              chart.render();
            };

            updateChart(dataLength);
            setInterval(function() {
              updateChart();
            }, updateInterval);
          };
        </script>
      </head>
      <body>
        <div id="chartContainer" style="height: 300px; width: 100%;" data-test=<%= nodeid %></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      </body>
    </html>
  </body>
</html>
